<!DOCTYPE html>
<!--=== Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="css/styleVsuAdmin.css">
     
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <title>Admin Dashboard Panel</title> 
</head>
<body>
    <nav>
        <div class="logo-name">

            <span class="logo_name">VSUadmin</span>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="#">
                    <i class="uil uil-share"></i>
                    <span class="link-name">Share</span>
                </a></li>
            </ul>
            
            <ul class="logout-mode">
                <li><a id="logoutBtn">
                    <i class="uil uil-signout"></i>
                    <span class="link-name">Logout</span>
                </a></li>

                <li class="mode">
                    <a href="#">
                        <i class="uil uil-moon"></i>
                    <span class="link-name">Dark Mode</span>
                </a>

                <div class="mode-toggle">
                  <span class="switch"></span>
                </div>
            </li>
            </ul>
        </div>
    </nav>

    <section class="dashboard">
        <div class="top">
            <form class="container container_dark" id="upload-container" method="POST" action="send.php">
                <i class="uil uil-upload"></i>
                <div class="text">
                     <input id="file-input" type="file" name="file" multiple>
                     <label class="descr descr_dark" for="file-input">Выберите файл</label>
                     <span class="descr_src descr_src_dark">или перетащите его сюда</span>
                </div>
                <form class="form" action="#">
                    <label class="fakult" for="lang">Факультеты</label>
                    <select name="languages" id="lang">
                      <option value="select">Выбрать факультет</option>
                      <option value="javascript">JavaScript</option>
                      <option value="php">PHP</option>
                      <option value="java">Java</option>
                      <option value="golang">Golang</option>
                      <option value="python">Python</option>
                      <option value="c#">C#</option>
                      <option value="C++">C++</option>
                      <option value="erlang">Erlang</option>
                    </select>
                    <input class="submit_button" type="submit" value="Submit" />
              </form>
           </form>
        </div> 
    </section>
    

    <script src="js/scriptVsuAdmin.js"></script>
</body>
</html>